/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #6c6d6d;
}

a:hover {
  color: #424242;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
  font-size: 62.5%;
  font-size: 1rem;
  line-height: 1.682rem;
  color: #6c6d6d;
}

h1,
h2,
h3 {
  color: #424242;
  text-align: center;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.login-page .header {
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
}

.login-page .header .page-title {
  color: #424242;
  font-weight: bold;
  font-size: 25px;
}

.login-page .header .logo {
  margin-bottom: 15px;
}

.login-page .header .logo img {
  weight: 50px;
  height: 50px;
}

.login.card {
  padding-top: 45px;
  padding-bottom: 45px;
}

@media (min-width: 700px) {
  .login-page.container {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .login-page.container {
    width: 94%;
    margin: 0 auto;
  }
}

.card {
  padding: 25px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 25px;
}

.label-control {
  display: block;
  margin-bottom: 7px;
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
}

.form-control:focus {
  outline: none !important;
  border: 1px solid #719ECE;
}

.button {
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 0 2rem;
  line-height: 3rem;
  border-radius: 5px;
  background: linear-gradient(-135deg, #6A60EE 0%, #56EDFF 100%);
  font-size: 16px;
}

.top-navigation {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.navigation .logo {
  margin-right: auto;
  width: 50%;
}

.navigation .logo img {
  weight: 35px;
  height: 35px;
}

.nav-right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  position: relative;
}

.nav-right-menu .name {
  margin-right: 15px;
}

.nav-right-menu ul.dropdown-menu {
  display: none;
  position: absolute;
  top: 55px;
}

.nav-right-menu ul.dropdown-menu .fa {
  margin-right: 5px;
  color: #c7c7c7;
}

.nav-right-menu ul.dropdown-menu.card {
  padding: 0;
}

.nav-right-menu ul.dropdown-menu.show {
  display: unset;
}

.nav-right-menu .dropdown-menu__item {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px 25px;
}

.nav-right-menu .dropdown-menu__item a {
  color: #6c6d6d;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loan-awaiters {
  margin-top: 55px;
}

.loan-awaiters a.more-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.loan-awaiter {
  margin-bottom: 45px;
}

.loan-details {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.amount-applied-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.loan-amount {
  margin-right: auto;
}

.loan-amount .fab {
  color: #513c97;
}

.borrower-name {
  color: #424242;
}

@media (min-width: 700px) {
  .login-page.container {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .loan-awaiters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .loan-awaiter {
    width: 48%;
  }
}

.profile-header {
  margin-top: 35px;
  text-align: center;
}

.profile-header .borrower-name {
  color: #424242;
  font-size: 2rem;
  margin-bottom: 10px;
}

.loan-approval-point {
  margin-top: 35px;
}

.amount-applied,
.verification-point {
  margin-bottom: 35px;
  text-align: center;
}

.amount-applied .header,
.verification-point .header {
  margin-bottom: 15px;
}

.amount-applied .body,
.verification-point .body {
  font-size: 2rem;
  color: #424242;
}

.verifications .header {
  text-align: center;
  font-size: 2rem;
  color: #424242;
  margin-bottom: 25px;
  padding-top: 15px;
}

.verifications .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.verification {
  width: 48%;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  margin-bottom: 35px;
  border: 2px solid #f5f5f5;
}

.verification .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  font-size: 1.2rem;
  color: #6c6d6d;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 0 !important;
}

.verification .body {
  border-bottom: 2px solid #f5f5f5;
}

.verification .footer {
  text-align: right;
}

.verification .verification-title {
  margin-right: auto;
}

.decision-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.decision {
  margin-right: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.acceptance-decision {
  background: linear-gradient(-135deg, #6A60EE 0%, #56EDFF 100%);
  color: #fff;
}

.reject-decision {
  border: 1px solid #ff4569;
  color: #ff4569;
}

.modal#TRANSACTION .transaction-add {
  width: 100%;
  min-width: 100%;
}

.transaction-add {
  margin-bottom: 25px;
}

.transaction-add .form-group {
  margin-bottom: 5px !important;
}

.complete-verification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
}

@media (min-width: 900px) {
  .loan-approval-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .amount-applied,
  .verification-point {
    width: 49%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.9);
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal.hide {
  display: none;
}

.modal-content {
  margin: auto;
  max-width: 50%;
}

.modal-content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal-content .close {
  color: #b94b82;
  font-size: 24px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-spacing: .5rem;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
}

ul.instruction {
  margin-bottom: 25px;
}

ul.instruction li {
  margin-bottom: 15px;
}

.alert {
  padding: 25px;
  margin-bottom: 15px;
}

.alert-success {
  background: #50E3C2;
  color: #fff;
}

.warning-decision {
  border: 1px solid #064283;
  color: #064283;
}

.verification-status > .toggle {
  width: 2.2rem;
  height: 1.2rem;
  border-radius: 2rem;
  background: #e0e0e0;
  position: relative;
  cursor: pointer;
}

.verification-status > .toggle .switch {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  top: 0.1rem;
  left: 0.1rem;
  background: white;
  -webkit-transition: right 200ms ease-out;
  transition: right 200ms ease-out;
}

.verification-status > .toggle.active {
  background: linear-gradient(-135deg, #6A60EE 0%, #56EDFF 100%);
}

.verification-status > .toggle.active .switch {
  left: 1.1rem;
}

.homepage {
  width: 90%;
  margin: 200px auto;
  text-align: center;
}

.homepage .header {
  margin-bottom: 35px;
}

.homepage .header .page-title {
  color: #4a4a4a;
  font-size: 70px;
  margin-bottom: 45px;
}

.homepage .header .page-sub-title {
  color: #4a4a4a;
}

.homepage a.download-link {
  display: block;
  margin: 35px 0;
}

.homepage .tutorial-link {
  margin-bottom: 25px;
}

.homepage .link {
  color: #4A90E2;
  pointer: cursor;
}

@media (min-width: 900px) {
  .homepage .body {
    width: 50%;
    margin: 0 auto;
  }
}

