.loan-awaiters {
	margin-top: 55px;

	a.more-detail {
		display: flex;
		margin-top: 10px;
		justify-content: flex-end;
	}
}

.loan-awaiter {
	margin-bottom: 45px;
}
.loan-details {
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}
.amount-applied-date {
	display: flex;	
	margin-bottom: 15px;
}
.loan-amount {
	margin-right: auto;

	.fab {
		color: #513c97;
	}
}
.borrower-name {
	color: $borrow-text-300;
}
@media (min-width: 700px) {
	.login-page.container {
		width:  50%;
		margin: 0 auto;		
	}
} 

@media (min-width: 900px) {
	.loan-awaiters {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.loan-awaiter {
		width:  48%;
	}
}