* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
  color: $borrow-text-200;
  &:hover {
    color: $borrow-text-300;
  }
}
html,
body {
  font-family: "Roboto", sans-serif;
  background: $light-grey-100;
  font-size: 62.5%;
  font-size: 1rem;
  line-height: 1.682rem;
  color: $borrow-text-200;
}


h1,
h2,
h3 {
  color: $borrow-text-300;
  text-align: center;
}

.container {
  width: 96%;
  margin: 0 auto;
}