.button {
	color: #ffffff;
	border: none;
	cursor: pointer;

	width: 100%;
	text-align: center;
	padding: 0 2rem;
	line-height: 3rem;
	border-radius: 5px;
	background: $borrow-gradient;
	font-size: 16px;
}