.form-group {
	margin-bottom: 25px;
}
.label-control	{
	display: block;	
	margin-bottom: 7px;
}
.form-control {
	display: block;
	width: 100%;

	border: 1px solid $light-grey-200;
	border-radius: 5px;
	outline: none;
	padding: 1rem;
}
.form-control:focus {
    outline: none !important;
    border: 1px solid #719ECE;
}