.homepage {
	width: 90%;
	margin: 200px auto;

	text-align: center;


	.header {
		margin-bottom: 35px;
	}
	.header .page-title {
		color: #4a4a4a;
		font-size: 70px;
		margin-bottom: 45px;
	}
	.header .page-sub-title {
		color: #4a4a4a;
	}
	a.download-link {
		display: block;
		margin: 35px 0;
	}
	.tutorial-link {
		margin-bottom: 25px;
	}
	.link {
		color: #4A90E2;
		pointer: cursor;
	}

	@media (min-width: 900px) {
		.body {
			width:  50%;
			margin: 0 auto;		
		}
	} 
}
