.profile-header {
	margin-top: 35px;
	text-align: center;


	.borrower-name {
		color: $borrow-text-300;
		font-size: 2rem;
		margin-bottom: 10px;
	}
}

.loan-approval-point {
	margin-top: 35px;
}
.amount-applied,
.verification-point {
	margin-bottom: 35px;
	text-align: center;

	.header {
		margin-bottom: 15px;
	}
	.body {
		font-size: 2rem;
		color: $borrow-text-300;
	}
}
.verifications {
	.header {
		text-align: center;
		font-size: 2rem; 
		color: $borrow-text-300;

		margin-bottom: 25px;
		padding-top: 15px;
	}
	.body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		padding: 10px 0;
	}	
}
.verification {
	width: 48%;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	margin-bottom: 35px;
	border: 2px solid #f5f5f5;


	.header {
		display: flex;
		padding-bottom: 5px;
		font-size: 1.2rem;	
		color: $borrow-text-200;
		justify-content: space-between;
		border-bottom: 2px solid #f5f5f5;

		margin-bottom: 0 !important;
	}
	.body {
		border-bottom: 2px solid #f5f5f5;		
	}
	.footer {
		text-align: right;
	}
	.verification-title {
		margin-right: auto;
	}

}
.decision-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.decision {
	margin-right: 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.acceptance-decision {
	background: $borrow-gradient;
	color: #fff;
}
.reject-decision {
	border: 1px solid #ff4569;
	color: #ff4569;
}

.modal#TRANSACTION .transaction-add {
	width: 100%;
	min-width: 100%;
}
.transaction-add {
	margin-bottom: 25px;

	.form-group {
		margin-bottom: 5px !important;
	}
}

.complete-verification {
	display: flex;
	justify-content: flex-end;
	padding-top: 15px;
}

@media (min-width: 900px) {
	.loan-approval-point {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.amount-applied,
	.verification-point {
		width:  49%;
	}
}