.login-page {
	.header {
		margin-top: 100px;
		margin-bottom: 60px;
		text-align: center;

		.page-title {
			color: $borrow-text-300;
			font-weight: bold;
			font-size: 25px;
		}
		.logo {
			margin-bottom: 15px;
		}
		.logo img {
			weight: 50px;
			height: 50px;
		}
	}	
}

.login.card {
	padding-top: 45px;
	padding-bottom: 45px;
}
@media (min-width: 700px) {
	.login-page.container {
		width:  50%;
		margin: 0 auto;		
	}
} 
@media (max-width: 700px) {
	.login-page.container {
		width:  94%;
		margin: 0 auto;		
	}
}
