.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(255, 255, 255, 0.9);

	&.show {
		display: flex;
	}
	&.hide {
		display: none;
	}
}

.modal-content {
	margin: auto;
	max-width: 50%;

	.header {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	.close {
		color: #b94b82;
		font-size: 24px;
		cursor: pointer;
	}

}