.top-navigation {
	background: #ffffff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.navigation {
	display: flex;
	padding: 15px 0;
}
.navigation .logo {
	margin-right: auto;
	width: 50%;

	img {
		weight: 35px;
		height: 35px;
	}
}
.nav-right-menu {
	display: flex;
	justify-content: flex-end;	
	width: 50%;

	position: relative;

	.name {
		margin-right: 15px;
	}

	ul.dropdown-menu {
		display: none;
		position: absolute;
		top: 55px;
		

		.fa {
			margin-right: 5px;
			color: $borrow-text-100;
		}
	}
	ul.dropdown-menu.card {
		padding: 0;
	}
	ul.dropdown-menu.show {
		display: unset;
	}

	.dropdown-menu__item {
		cursor: pointer;
		border-top: 1px solid rgba(0,0,0,0.06);

		padding: 10px 25px;
	}
	.dropdown-menu__item a {
		color: $borrow-text-200;
	}
}
.nav-menu {
	display: flex;
}