    .verification-status {
    }
    .verification-status > .toggle {
      width: 2.2rem;
      height: 1.2rem;
      border-radius: 2rem;
      background: $light-grey-200;
      position: relative;
      cursor: pointer;
      .switch {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        top: 0.1rem;
        left: 0.1rem;
        background: white;
        transition: right 200ms ease-out;
      }
      &.active {
        background: $borrow-gradient;
        .switch {
          left: 1.1rem;
        }
      }
    }