// Colors Definitions

// Greys
$light-grey-100: #f5f5f5;
$light-grey-200: #e0e0e0;

// Text Colors
$borrow-text-100: #c7c7c7;
$borrow-text-200: #6c6d6d;
$borrow-text-300: #424242;

// Other Colors
$borrow-purple: #6A60EE;
$borrow-blue: #56EDFF;
$borrow-green: #50E3C2;

// Gradient
$borrow-gradient: linear-gradient(-135deg, #6A60EE 0%, #56EDFF 100%);